<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body bgcolor="yellow">
    <a href="/students/home">Home</a> |
    <a href="/students/insert">Insert</a> |
    <a href="/students/display">Display</a> |
    <a href="/students/search">Search</a> |
    <a href="/students/update">Update</a> |
    <a href="/students/contact">Contact Us</a>
    <hr>
    <h1>Welcome to about page</h1>
    <form action="/students/createstudent" method="post">
        Rollno <input type="text" name="rollno" /><br />
        Name <input type="text" name="name" /><br />
        City <input type="text" name="city" /><br />
        Fees <input type="text" name="fees" /><br />
        <button>Save</button>
    </form>
</body>

</html>