<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <a href="/students/home">Home</a> |
    <a href="/students/insert">Insert</a> |
    <a href="/students/display">Display</a> |
    <a href="/students/search">Search</a> |
    <a href="/students/update">Update</a> |
    <a href="/students/contact">Contact Us</a>
    <hr>
    <h1>Search Student Data</h1>
    <form action="/students/searchdata" method="post">
        Roll No: <input type="text" name="rollno"/>
        <button>Search</button>
    </form>
    <br>
     <table border="2px">
        <tr>
            <th>Roll no</th>
            <th>Name</th>
            <th>City</th>
            <th>Fees</th>
        </tr>
        <% data.map((item)=>{%>
            <tr>
                <td><%=item.rollno%></td>
                <td><%=item.name%></td>
                <td><%=item.city%></td>
                <td><%=item.fees%></td>
            </tr>
        <%})%>
    </table>
</body>
</html>