<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body bgcolor="skyblue">
    <a href="/">Home</a> |
    <a href="/insert">Insert</a> |
    <a href="/display">Display</a> |
    <a href="/search">Search</a> |
    <a href="/update">Update</a> |
    <a href="/contact">Contact Us</a>
    <hr>
    <h1>Insert Student Data</h1>
    <form action="/createstudent" method="post">
        Rollno <input type="text" name="rollno" /><br />
        Name <input type="text" name="name" /><br />
        City <input type="text" name="city" /><br />
        Fees <input type="text" name="fees" /><br />
        <button>Save</button>
    </form>
</body>

</html>